body {
    margin: 0;
    padding: 0;
    background: url("../img/background.jpg") no-repeat center;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

body {
    margin: auto;
    padding: auto;
}

.homepage {
    width: 400px;
    margin: auto;
    margin-top: 10vh;
}

.loginbutton {
    display: block;
    background-color: #1186CC;
    color: white;
    border-radius: 18px;
    font-family: 'Lobster Two', cursive;
    font-size: 1.3em;
    padding: 6px 8px 6px 8px;
    width: 50%;
    margin: auto;
    margin-bottom: 8px;
}

.registerbutton {
    display: block;
    background-color: #1186CC;
    color: white;
    border-radius: 18px;
    font-family: 'Lobster Two', cursive;
    font-size: 1.3em;
    padding: 6px 8px 6px 8px;
    width: 50%;
    margin: auto;
}

.logo {
    width: 100%;
}